[Desktop Entry]
Encoding=UTF-8
Name=GDC
Comment=GDC P2P Cryptocurrency
Comment[fr]=GDC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GDC, eşten eşe kriptografik sanal para birimi
Exec=pat-qt %u
Terminal=false
Type=Application
Icon=pat128
MimeType=x-scheme-handler/pat;
Categories=Office;Finance;
